doctype html
html
  head
    title Default project
    link(rel="stylesheet", href="public/stylesheets/build.css")
  body
    .player(class="i-bem" data-bem='{ "player": {} }' )
      .player__actions
        .player__volume
          .player__volume-icon
          .progress.progress_type_volume(class="i-bem" data-bem='{ "progress": {} }' )
            .progress__current
        .player__action
        .player__progress
          .progress.progress_type_time(class="i-bem" data-bem='{ "progress": {} }' )
            .progress__current
        .player__time
      .player__song
      form.loader(class="i-bem" data-bem='{ "loader": {} }')
        input.loader__file(type="file" multiple)
        .loader__drop-zone
          |  Или перетащите файл сюда
    script(src="public/build.js")