/*
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 *
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */
/* line 3, ../_sass/loader.sass */
.loader {
  background-color: #232326;
  padding: 15px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
}
/* line 8, ../_sass/loader.sass */
.loader__file {
  display: none;
}
/* line 11, ../_sass/loader.sass */
.loader__label {
  display: block;
  border: 1px solid #3f3f42;
  padding: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
/* line 18, ../_sass/loader.sass */
.loader__label:hover {
  background-color: #3f3f42;
}
/* line 21, ../_sass/loader.sass */
.loader__drop-zone {
  color: #fff;
  border: 1px dashed #3f3f42;
  padding: 15px;
  text-align: center;
  margin: 15px auto 0;
}
/* line 27, ../_sass/loader.sass */
.loader__drop-zone_over {
  border-color: #fff;
}
