@import includes

*
  outline : none

html,body
  height : 100%
  font-size : 12px
  +hel_rom

.wrapper
  height : 100%

$sprites: sprite-map("sprites/buttons/*.png")
$sprites2x: sprite-map("sprites-retina/buttons/*.png")


.button
  +retina-sprite(signIn, $hover: true, $active: true)


