/*
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 *
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */
/* line 11, ../_sass/_helpers.sass */
.player__volume:after {
  content: "";
  display: table;
  clear: both;
}

/* line 3, ../_sass/common.sass */
* {
  outline: none;
}

/* line 6, ../_sass/common.sass */
html, body {
  height: 100%;
  font-size: 12px;
  font-family: "helveticaneuecyrroman";
}

/* line 16, ../_sass/common.sass */
.button {
  height: 40px;
  width: 174px;
  background-image: url('../images/sprites/buttons-s0a96fceffe.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 29, ../_sass/_retina-sprites.scss */
.button:hover {
  background-position: 0 -80px;
}
/* line 35, ../_sass/_retina-sprites.scss */
.button:active {
  background-position: 0 -40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 45, ../_sass/_retina-sprites.scss */
  .button {
    background-image: url('../images/sprites-retina/buttons-sd2e6693141.png');
    background-position: 0 0;
    -moz-background-size: 174px auto;
    -o-background-size: 174px auto;
    -webkit-background-size: 174px auto;
    background-size: 174px auto;
  }
  /* line 56, ../_sass/_retina-sprites.scss */
  .button:hover {
    background-position: 0 -80px;
  }
  /* line 63, ../_sass/_retina-sprites.scss */
  .button:active {
    background-position: 0 -40px;
  }
}

/* line 20, ../_sass/common.sass */
.player {
  width: 440px;
  position: relative;
  top: 50px;
  left: 50px;
}
/* line 26, ../_sass/common.sass */
.player__actions {
  background-color: #232326;
  height: 20px;
  padding: 15px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
/* line 32, ../_sass/common.sass */
.player__action {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 17px;
  border-color: transparent transparent transparent #ffffff;
  cursor: pointer;
  float: left;
  margin-right: 15px;
}
/* line 41, ../_sass/common.sass */
.player__action_stop {
  border: none;
  background-color: #fff;
  width: 17px;
  height: 20px;
}
/* line 47, ../_sass/common.sass */
.player__time {
  color: #fff;
  line-height: 20px;
}
/* line 51, ../_sass/common.sass */
.player__progress {
  float: left;
  margin-top: 6px;
  margin-right: 8px;
}
/* line 56, ../_sass/common.sass */
.player__volume {
  float: right;
  margin-top: 6px;
}
/* line 61, ../_sass/common.sass */
.player__volume-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/player__volume-icon.png?1438687591');
  width: 13px;
  height: 15px;
  float: left;
  margin-right: 5px;
  margin-top: -3px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 61, ../_sass/common.sass */
  .player__volume-icon {
    -moz-background-size: 13px auto;
    -o-background-size: 13px auto;
    -webkit-background-size: 13px auto;
    background-size: 13px auto;
    background-image: url('../images/player__volume-icon@2x.png?1438687600');
  }
}
/* line 68, ../_sass/common.sass */
.player__song {
  height: 26px;
  line-height: 26px;
  background-color: #19191b;
  padding-left: 46px;
  color: #fff;
}

/* line 75, ../_sass/common.sass */
.progress {
  height: 8px;
  background-color: #3f3f42;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
/* line 81, ../_sass/common.sass */
.progress_type_time {
  width: 220px;
}
/* line 83, ../_sass/common.sass */
.progress_type_volume {
  width: 48px;
}
/* line 86, ../_sass/common.sass */
.progress__current {
  height: 8px;
  width: 0;
  background-color: #1b93c7;
}

/* line 97, ../_sass/common.sass */
.loader__drop-zone {
  width: 80%;
  border: 1px dashed #f00;
  padding: 15px;
  text-align: center;
  margin: 20px auto 0;
}
