/*
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 *
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */
/* line 3, ../_sass/common.sass */
* {
  outline: none;
}

/* line 6, ../_sass/common.sass */
html, body {
  height: 100%;
  font-size: 12px;
  font-family: "helveticaneuecyrroman";
}

/* line 11, ../_sass/common.sass */
.wrapper {
  height: 100%;
}

/* line 18, ../_sass/common.sass */
.button {
  height: 40px;
  width: 174px;
  background-image: url('../images/sprites/buttons-s0a96fceffe.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 29, ../_sass/_retina-sprites.scss */
.button:hover {
  background-position: 0 -80px;
}
/* line 35, ../_sass/_retina-sprites.scss */
.button:active {
  background-position: 0 -40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 45, ../_sass/_retina-sprites.scss */
  .button {
    background-image: url('../images/sprites-retina/buttons-sd2e6693141.png');
    background-position: 0 0;
    -moz-background-size: 174px auto;
    -o-background-size: 174px auto;
    -webkit-background-size: 174px auto;
    background-size: 174px auto;
  }
  /* line 56, ../_sass/_retina-sprites.scss */
  .button:hover {
    background-position: 0 -80px;
  }
  /* line 63, ../_sass/_retina-sprites.scss */
  .button:active {
    background-position: 0 -40px;
  }
}

/*
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 *
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */
/* line 3, ../_sass/equalizer.sass */
.equalizer {
  display: none;
  padding: 15px;
  background-color: #232326;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 0;
  position: absolute;
  width: 246px;
}
/* line 12, ../_sass/equalizer.sass */
.equalizer_visible {
  display: block;
}
/* line 15, ../_sass/equalizer.sass */
.equalizer__close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}
/* line 24, ../_sass/equalizer.sass */
.equalizer__close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -2px;
  height: 4px;
  width: 4px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #3f3f42;
}
/* line 35, ../_sass/equalizer.sass */
.equalizer__select {
  display: block;
  margin-bottom: 20px;
}

/*
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 *
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */
/* line 3, ../_sass/loader.sass */
.loader {
  background-color: #232326;
  padding: 15px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
}
/* line 8, ../_sass/loader.sass */
.loader__file {
  display: none;
}
/* line 11, ../_sass/loader.sass */
.loader__label {
  display: block;
  border: 1px solid #3f3f42;
  padding: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
/* line 18, ../_sass/loader.sass */
.loader__label:hover {
  background-color: #3f3f42;
}
/* line 21, ../_sass/loader.sass */
.loader__drop-zone {
  color: #fff;
  border: 1px dashed #3f3f42;
  padding: 15px;
  text-align: center;
  margin: 15px auto 0;
}
/* line 27, ../_sass/loader.sass */
.loader__drop-zone_over {
  border-color: #fff;
}

/*
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 *
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */
/* line 11, ../_sass/_helpers.sass */
.player__volume:after {
  content: "";
  display: table;
  clear: both;
}

/* line 3, ../_sass/player.sass */
.player {
  position: relative;
  height: 100%;
}
/* line 6, ../_sass/player.sass */
.player__wrapper {
  width: 440px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
/* line 13, ../_sass/player.sass */
.player__actions {
  background-color: #232326;
  height: 20px;
  padding: 15px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
/* line 19, ../_sass/player.sass */
.player__action {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 17px;
  border-color: transparent transparent transparent #ffffff;
  cursor: pointer;
  float: left;
  margin-right: 15px;
}
/* line 28, ../_sass/player.sass */
.player__action_stop {
  border: none;
  background-color: #fff;
  width: 17px;
  height: 20px;
}
/* line 34, ../_sass/player.sass */
.player__time {
  color: #fff;
  line-height: 20px;
}
/* line 38, ../_sass/player.sass */
.player__progress {
  float: left;
  margin-top: 6px;
  margin-right: 8px;
}
/* line 43, ../_sass/player.sass */
.player__volume {
  float: right;
  margin-top: 6px;
}
/* line 48, ../_sass/player.sass */
.player__volume-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/player__volume-icon.png?1438687591');
  width: 13px;
  height: 15px;
  float: left;
  margin-right: 5px;
  margin-top: -3px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 48, ../_sass/player.sass */
  .player__volume-icon {
    -moz-background-size: 13px auto;
    -o-background-size: 13px auto;
    -webkit-background-size: 13px auto;
    background-size: 13px auto;
    background-image: url('../images/player__volume-icon@2x.png?1438687600');
  }
}
/* line 54, ../_sass/player.sass */
.player__icons {
  text-align: center;
  background-color: #232326;
  padding: 5px 0;
  position: relative;
}
/* line 59, ../_sass/player.sass */
.player__icon {
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 62, ../_sass/player.sass */
.player__icon_visualizator {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/player__icon_visualizator.png?1438778643');
  width: 18px;
  height: 20px;
  margin-right: 15px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 62, ../_sass/player.sass */
  .player__icon_visualizator {
    -moz-background-size: 18px auto;
    -o-background-size: 18px auto;
    -webkit-background-size: 18px auto;
    background-size: 18px auto;
    background-image: url('../images/player__icon_visualizator@2x.png?1438778648');
  }
}
/* line 65, ../_sass/player.sass */
.player__icon_equalizer {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/player__icon_equalizer.png?1438778617');
  width: 22px;
  height: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 65, ../_sass/player.sass */
  .player__icon_equalizer {
    -moz-background-size: 22px auto;
    -o-background-size: 22px auto;
    -webkit-background-size: 22px auto;
    background-size: 22px auto;
    background-image: url('../images/player__icon_equalizer@2x.png?1438778623');
  }
}
/* line 67, ../_sass/player.sass */
.player__icon_inited {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: pointer;
}
/* line 70, ../_sass/player.sass */
.player__icon_active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 72, ../_sass/player.sass */
.player__song-info {
  height: 26px;
  line-height: 26px;
  background-color: #19191b;
  padding: 0 46px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 82, ../_sass/player.sass */
.player__spiner-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
/* line 90, ../_sass/player.sass */
.player__spiner {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 15px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: none;
}
/* line 109, ../_sass/player.sass */
.player__spiner:after {
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
/* line 113, ../_sass/player.sass */
.player__spiner_visible {
  display: block;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 *
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */
/* line 3, ../_sass/progress.sass */
.progress {
  height: 8px;
  background-color: #3f3f42;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
/* line 9, ../_sass/progress.sass */
.progress_type_time {
  width: 220px;
}
/* line 11, ../_sass/progress.sass */
.progress_type_volume {
  width: 48px;
  float: left;
}
/* line 15, ../_sass/progress.sass */
.progress__current {
  height: 8px;
  width: 0;
  background-color: #1b93c7;
}

/*
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 *
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */
/* line 3, ../_sass/slider.sass */
.slider {
  display: inline-block;
  margin-right: 10px;
}
/* line 7, ../_sass/slider.sass */
.slider:last-child {
  margin-right: 0;
}

/*
 * Retina helper mixins for Compass
 * http://www.joelambert.co.uk
 *
 * Copyright 2012, Joe Lambert.
 * Free to use under the MIT license.
 * http://joelambert.mit-license.org/
 */
/* line 3, ../_sass/visualizator.sass */
.visualizator {
  display: none;
  width: 220px;
  padding: 15px;
  height: 196px;
  background-color: #232326;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 0;
  position: absolute;
}
/* line 13, ../_sass/visualizator.sass */
.visualizator_visible {
  display: block;
}
/* line 16, ../_sass/visualizator.sass */
.visualizator__canvas {
  width: 100%;
}
/* line 19, ../_sass/visualizator.sass */
.visualizator__close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
}
/* line 28, ../_sass/visualizator.sass */
.visualizator__close:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -2px;
  height: 4px;
  width: 4px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #3f3f42;
}
